---
title: Nomad Base Martinique
---

<div id="head">
  <div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <%= image_tag 'logo_nbm_round.png', :id => 'logo' %>
            <h1>Nomad Base Martinique</h1>
            <br>
            <h3>Live a one month unique human coworking & coliving experience in a beautiful Caribbean island</h3>
            <br>
            <button type="button" class="btn-lg btn-warning">Join Us</button>
        </div>
    </div>
  </div>
</div>

<div class="bg-white" id="section-whatis">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>What Is Nomad Base Martinique?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor cumque in odit eligendi facilis molestiae iste quidem reiciendis. Pariatur quo totam sint praesentium consequuntur nihil alias, aperiam est accusamus sed.lorem </p>
      </div>
    </div>
  </div>
</div>

<div class="bg-orange">
  <div class="container text-center" id="purposes">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="card">
          <h3 class="copy-purposes">Work</h3>
          <%= image_tag 'work_w.png', :class => 'icon-purpose' %>
          <p class="copy-purposes">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius iusto inventore illo! Veritatis laborum iste odit, corporis. Eum vero rerum facere assumenda aut laudantium ducimus, eos in magni velit, nesciunt!</p>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="card">
          <h3 class="copy-purposes">Connect</h3>
          <%= image_tag 'connect_w.png', :class => 'icon-purpose' %>
          <p class="copy-purposes">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius iusto inventore illo! Veritatis laborum iste odit, corporis. Eum vero rerum facere assumenda aut laudantium ducimus, eos in magni velit, nesciunt!</p>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="card">
          <h3>Have Fun</h3>
          <%= image_tag 'havefun_w.png', :class => 'icon-purpose' %>
          <p class="copy-purposes">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius iusto inventore illo! Veritatis laborum iste odit, corporis. Eum vero rerum facere assumenda aut laudantium ducimus, eos in magni velit, nesciunt!</p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="bg-white">
  <div class="container text-center" id="house-features">
    <div class="row">
      <div class="col-sm-12">
        <h3>Housing features</h3>
      </div>

      <div class="row first-tab-features">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag 'equipped_o.png', :class => 'icon-features' %>
          <p class="p-features">FULLY EQUIPPED</p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag 'bed_o.png', :class => 'icon-features' %>
          <p class="p-features">BED FOR 8 PEOPLE</p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag 'wifi_o.png', :class => 'icon-features' %>
          <p class="p-features">FREE WIFI</p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag 'coffee_o.png', :class => 'icon-features' %>
          <p class="p-features">FULLY COFFEE & TEA</p>
        </div>
      </div>

      <div class="row second-tab-features">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag 'beach_o.png', :class => 'icon-features' %>
          <p class="p-features">NEARBY THE BEACH</p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag 'restaurant_o.png', :class => 'icon-features' %>
          <p class="p-features">NEARBY RESTAURANTS & GROCERY STORES</p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag 'wifi_o.png', :class => 'icon-features' %>
          <p class="p-features">?</p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag 'coffee_o.png', :class => 'icon-features' %>
          <p class="p-features">?</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-orange">
  <div class="container text-center" id="ready-join">
    <div class="row">
      <h3>Ready to join the house</h3>
      <div class="creators">
        <div class="col-md-3 col-md-offset-2">
          <p>Raphaël Beaupied</p>
          <%= image_tag 'avatar_raphael_round.png', :class => 'founders' %>
        </div>
        <div class="col-md-3 col-md-offset-2">
          <p>Jordan Vernon</p>
          <%= image_tag 'avatar_jordan_round.png', :class => 'founders' %>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="bg-white">
  <div class="container text-center" id="mailing-list">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <h2 class="waiting">Start in 2017</h2>
        <p>You're interested?</p>
        <br>
        <p>Subscribe to our mailing list to receive more informations</p>
      </div>
    </div>
  </div>
</div>

<div class="bg-orange">
  <footer>
    <div class="container text-center">
      <p><b>Nomad Base Martinique, an initiative led by Raphaël Beaupied & Jordan Vernon</b></p>
    </div>
  </footer>
</div>
